.posts{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
    /* margin-bottom: 2vh; */
    /* border: 2px solid green; */
    padding-left: 2vw;
}
.posts h2{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}
.cards{
    width: fit-content;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    /* overflow-x:scroll ; */
    margin-top: 15px;
    gap: 3rem;
    /* border: 2px solid blue; */
    
    &::-webkit-scrollbar {
        width: 0.01em;
      }
    
      &::-webkit-scrollbar-track {
        background: transparent;
      }
    
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
}
.card{
    /* width: 280px; */
    width: 18vw;
    height: 55vh;
    border: 1px solid rgba(14,4,5,.2);
    border-radius: 4px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;   
    padding-right: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

    @media (max-width:800px) {
        width: 36vw;
        height: 55vh;
    }

    @media (max-width:500px) {
        width: 85vw;
        height: 55vh;
    }
}


.picNlike{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 1vh;
}
.pic{
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    width: 100%;
    /* width:17vw ; */
    height: 90%;
    /* background-color: yellow; */
    padding-right:0 ;
}

.pic img{
    width: inherit;
    height: inherit;
    position: relative;
    /* object-fit: cover; */
}
.heart{
    position: absolute;
    right: 8px;
    top: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.priceDesc{
    display: flex;
    flex-direction: column;
}
.price{
    font-size: 20px;
    font-weight:700;
    font-family: 'Roboto', sans-serif;
    color: #0f518f;
}
.priceDesc p{
    font-weight: 400;
    color: #777;
}

.placeDate{
    color: #777;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 1rem;
}
